.reading {
  text-align: left;
}

.card {
    --kanji-grid: #fafafa;
    --stroke: #555;
    --outline: #DDD;
    --drawing: #333;
    --kunyomi-color: #ef6c00;
    --kanji-color: #6495ed;
    --onyomi-color: #00796b;
    --meaning-color: #607d8b;
    --icon-button-background: #63759d;
    --icon-button-background-focus: #7d92c2;
    font-family: arial;
    font-size: 20px;
    text-align: center;
    color: black;
    background-color: white;
}

.card.night_mode {
    --kanji-grid: #262626;
    --stroke: #ffffff;
    --outline: #5B5B5B;
    --drawing: #fff;
    --kunyomi-color: #27b46e;
    --kanji-color: #6495ed;
    --onyomi-color: #fba910;
    --meaning-color: #29b6f6;
    --icon-button-background: #63759d;
    --icon-button-background-focus: #7d92c2;
    color: white;
    background-color: #1f1f1f;
}

/* Material Icon Font */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 300;
    src: url(MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(_MaterialIcons-Regular.woff2) format('woff2'), url(_MaterialIcons-Regular.woff) format('woff'), url(_MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* grid color for character */

.grid-color {
    margin: 10px;
    background-color: var(--kanji-grid);
    padding: 2px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.5);
}

.stroke-color {
    color: var(--stroke);
}

.outline-color {
    color: var(--outline);
}

.drawing-color {
    color: var(--drawing);
}

/* bottom button */

.modal-footer1 {
    padding-top: 15px;
    text-align: center;
}

.modal-footer1 a {
    display: inline-block;
    margin: 0 8px;
    float: none;
}

.text-color1 {
    font-size: 18px;
    color: var(--kunyomi-color);
}

.text-color2 {
    color: var(--onyomi-color);
}

.text-color3 {
    color: var(--meaning-color);
}

.text-color4 {
    font-size: 25px;
    font-weight: bold;
    color: var(--kanji-color);
}

/*https://codepen.io/colewaldrip/pen/gpEaWb*/

/* Material Icon Button */

.icon {
    margin: 3px;
    position: relative;
    display: inline-block;
    color: white;
    background-color: var(--icon-button-background);
    width: 2.0rem;
    height: 2.0rem;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s ease;
}

.icon .material-icons {
    font-size: 1.0rem;
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    transition: all 0.3s ease;
}

.icon:hover, .icon:focus {
    background-color: var(--icon-button-background-focus);
}